/* So basically you have a phone */
@media (pointer: coarse) .logo {
    .logo {
        width: 10%;
        height: auto;
        max-width: 30%;
    }
}

/* and you have a computer */
@media (pointer: fine), (pointer: none) {
    .logo {
        width: 25%;
        height: auto;
        max-width: 30%;
    }
}

* {
  text-align: center;
  font-family: "Arial";
}

.title {
  font-size: 18px;
}

